* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #about {
    min-height: 100vh;
    width: 100%;
    background-color: #e8e8e8;
    
    display: grid;
    place-items: center;
    padding: 60px;
    color: black;
    
    
    

  }
  /* .about-words{
    border: none;
    left: 200px;
    margin-bottom: 20px;
  } */
  .about-content {
      border: 1px dotted grey;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      padding: 20px;
    }
    
    .about-image {
      margin-left: 180px;
      
    }
    
    
    .about-image img {
     position: relative;
     right: 200px; 
    } 
    
    .about-words {
      position: relative;
      right: 190px;
      flex: 1;
      height: 480px;
      margin-top: 40px;
    }
    
    .about-words h1 {
      text-align: center;
      font-size: 40px;
      margin-bottom: 30px;
    }
    
    .about-words .address{
      margin-left: 50px;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .about-words p {
      opacity: 0.7;
      width: 350px;
      margin-bottom: 25px;
      font-style: italic;
    }
    
    .about-words .addresses {
      margin-bottom: 30px;
      display: flex;
      height: 200px;
    }
  
    .about-words .addresses .span1{
      display: grid;
      width: 25%;
      font-weight: bold;
      font-size: 16px;
    }
  
    .about-words .addresses .span2{
      display: grid;
      width: 50%;
      opacity: 0.7;
      font-size: 15px;
    }
    
    .about-words h2 {
      font-size: 30px;
      margin-bottom: 10px;
      font-family: 'Times New Roman', Times, serif;
    }
  
    .about-words h2 strong{
      color: #11a372;
      font-weight: bold;
    }
    
    .about-words button {
      background-color: #11a372;
      color: #fff;
      border: none;
      padding: 10px 20px;
      margin-left: 50px;
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
      border-radius: 100%;
    }
    
    .about-words button a {
      color: #fff;
      text-decoration: none;
    }
  
    .my-fovourite-tech{
      margin-top: 20px;
      width: 100%;
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: space-around;
    }
  
    .my-fovourite-tech span{
      display: flex;
      align-items: center;
    }
  
    .my-fovourite-tech span i{
      font-size: 40px;
      color: #11a372;
    }
  
    .my-fovourite-tech span h3{
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }