/* Default styles for larger screens */
body {
    font-size: 18px;
  }
  
  /* Tablet screens */
  @media (max-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Mobile screens */
  @media (max-width: 480px) {
    body {
      font-size: 14px;
    }
  }
  