
body {
    font-size: 18px;
    
  }
  .column-pro {
    width: 100%; 
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }
  

@media (max-width: 768px) {
  body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    
  }
  .menu{
    display:block;
  }
  .menu a{
    display:block;
    text-align:center;
    padding:10px;
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    font-weight: bold;

  }
  .navBar ul{
    display: none;

  }
  .navBar.open ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(142, 148, 235); 
    position: absolute;
    top: 100%; 
    right: 0;
    width: 50%;
  }
  .navBar ul li {
    padding: 10px;
    text-align: center;
  }
    
  .navBar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-align: center;
    

  }
  .home {
    margin: auto;
  }
  .image-responsive img {
    width: 150px;
    height: 200px;
    border-radius: 40%;
    animation: moveUpDown 2s infinite;
  }
  .image-responsive{
    display: block;
    float:left;
    
    text-align: center;
    padding: 20px;
    
  }
  .home{
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    padding: 20px;
  }
  .words-section{
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .words-section h3 strong{
    font-size: 20px;
    color: #11a372;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .image-section{
    display: none;
  }
  .image-responsive {
    display: block;
  }
    
  #about {
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;

  }
  .about-content {
    position: relative;
    right: auto;
    padding-right: 20%;
    
    
  }
  .about-words {
    position: relative;
    left: 30%;
    border: none;
  }
  .my-fovourite-tech{
    display: block;
    justify-content: center;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 60px;
  }
  .my-fovourite-tech span {
    margin-bottom: 5px;
  }
  .row-pro1 {
    display: block;
    justify-content: center;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 60px;
    width: 100%;
    height: 100%;

  }
  #projects {
  padding-left: 20px;
  padding-right: 30px;
  height: 0%;
  }
  
  #projects .row-pro1 {
    
    display: block;
    
    width: 100%;
  }

  #projects .column-pro{
  align-items: center;
  margin-top: 40px;
  width: 100%;

  }
  #projects .column-pro .card {
  display: block;
  flex-direction: column;
  align-items: center;
  width: 100%;
  }
  #projects.row-pro.section-head, p {
  margin: auto;
  }
  .dot{
  display: none;
  }

  .page-container .row{
  display: block;
  width: 100%;
  margin: auto;
  }
  #me {
  display: block;
  }
  .new_container {
  display: block;
  margin: auto;
  padding: 30px;
  }
  .make-design {
  margin-bottom: 20px;
  width: 100%;
  }
  .my-fovourite-tech{
    display: block;
    margin-bottom: 230px;
    border: 1px dotted grey;
  }
  .my-fovourite-tech span {
    position: relative;
    width: 100%;
    margin-top: 20px;
    left: 20%


  }
  .my-fovourite-tech h1 {
    position: relative;
    margin-bottom: 70px;
    margin-top: 30px;
    right: 20px;
    color: blue;
  }
 
  
}
@media(max-width: 480px){
  body {
    font-size: 14px;
    margin: auto;
    width: 100%;
  }
  #home{
    width: 100%;
    
  }
  .page-container .row{
    display: block;
    width: 100%;
    margin-right: 20px 
  }
  .design-words{
    position: relative;
    right: 50px;
    bottom: 20%;
    
  }
  .counter {
    padding-right: 205;
  }
 
  /* .about-words h1 {
    position: relative;
    text-align: center;
    bottom: 40%;
  } */
  
  .about-image img{
    display: none;
  }
  .new_container {
    display: block;
    margin: auto;
    padding: 30px;
  }
  .make-design {
    margin-bottom: 20px;
    width: 100%;
  }
  .my-fovourite-tech{
    display: block;
    margin-bottom: 230px;
    border: 1px dotted grey;
  }
  .my-fovourite-tech span {
    position: relative;
    width: 100%;
    margin-top: 20px;
    left: 20%


  }
  .my-fovourite-tech h1 {
    display: block;
    position: relative;
    margin-bottom: 70px;
    margin-top: 30px;
    right: 20px;
    color: blue;
  }
  

}
  


